<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>


<script>
    var sock = new SockJS('ws://localhost:8080/ws');
    stompClient = Stomp.over(sock);
    stompClient.connect({}, function () {
        console.log('connteded')
        stompClient.subscribe("/topic/auctions", function (msg) {
            console.log('received from server ', msg);
        });

        stompClient.send("/app/auctions", {}, JSON.stringify({
            productsId: 1,
            price : 5000
        }));
    })

    // var wsUri = "ws://localhost:8080/ws";
    // var websocket;
    //
    // function connect() {
    //     if (!websocket) {
    //         websocket = new WebSocket(wsUri);
    //         websocket.onopen = function (evt) {
    //             onOpen(evt)
    //         };
    //         websocket.onmessage = function (evt) {
    //             onMessage(evt)
    //         };
    //         websocket.onerror = function (evt) {
    //             onError(evt)
    //         };
    //     }
    // }
    //
    // function disconnect() {
    //     if (!websocket) websocket.close();
    // }
    //
    // function send_message() {
    //     websocket.send(message);
    // }
    //
    // function onOpen(evt) {
    //     console.log('connect');
    // }
    //
    // function onMessage(evt) {
    //     console.log('connect');
    // }
    //
    // function onError(evt) {
    //     console.log('error');
    // }
    //
    // function writeToScreen(message) {
    //     ;
    // }
    // // window.addEventListener("load", init, false);
    //
    // connect();
</script>
</body>
</html>